@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Something went wrong. <a href="." class="reload">Refresh the page</a>
    <button type="button" class="dismiss" aria-label="Dismiss">&times;</button>
</div>
